
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

:root{
    --color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #3dc7ef;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #b97fc9;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.container-loader{
	display: flex;
	justify-content: center;
	margin: 200px 0;
}
.btn{
    font-family: inherit;
    color: #f2f2f2;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all .5s linear;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
    width: 100%;
    height: 150px;
}
.logo{
    box-sizing: border-box;
    height:100%;
    width: 100%;
}
.logo img{
    width: 150px;
    transition: ease-in-out .7s;
}
.logo img:hover{
    width: 200px;
}
.form-search{
    display: flex;
    align-items: center;
    gap: 15px;
}
.form-group{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border: 1px solid #424242;
    border-radius: 25px;
}
.form-group:hover{
    border-color: rgb(255, 217, 3);
}
.icon-search{
    width: 20px;
    height: 20px;
}
.input-search{
    font-family: inherit;
    font-size: 1rem;
    border: none;
    outline: none;
    width: 250px;
}

.btn-search{
    background-color:var(--color-primary);

}
.btn-search:hover{
    background-color: var(--color-primary-hover);
    color: #424242;
}
.container-filter{
    display: flex;
    margin-bottom: 20px;
}
.icon-filter{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.icon{
    width: 20px;
    height: 20px;
}
.card-list-pokemon{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}
.card-pokemon{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(25% - 10px);
    color: #424242;
    text-decoration: none;
    margin-bottom: .5rem;
}
.card-pokemon:hover{
    box-shadow: 5px 8px 20px #e4e4e4;
}
.pokemon-img{
    background-color: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	height: 250px;
}
.pokemon-img img{
    width: 100%;
	height: 100%;
}
.pokemon-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
    padding-bottom: 1rem;
}
.pokemon-id{
    font-size: .9rem;
}
.pokemon-name{
    font-size: 1.5rem;
}
.text-capitalize{
    text-transform: capitalize;
}
.pokemon-types{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .9rem;
    text-transform: capitalize;
}
.type{
    padding: .3rem 1rem;
    border-radius: .3rem;
    text-align: center;
}
.grass{
    background-color: var(--color-grass);
}
.poison{
    background-color: var(--color-poison);
}
.fire{
    background-color: var(--color-fire);
}
.water{
    background-color: var(--color-water);
}
.flying{
    background-color: var(--color-flying);
}
.bug{
    background-color: var(--color-bug);
}
.ground{
    background-color: var(--color-ground);
}
.electric{
    background-color: var(--color-electric);
}
.fairy{
    background-color: var(--color-fairy);
}
.normal{
    background-color: var(--color-normal);
}
.fighting{
    background-color: var(--color-fighting);
}
.dark{
    background-color: var(--color-dark);
}
.dragon{
    background-color:var(--color-dark);
}
.ice{
    background-color: var(--color-ice);
}
.ghost{
    background-color: var(--color-ghost);
}
.rock{
    background-color: var(--color-rock);
}
.psychic{
    background-color: var(--color-psychic);
}
.steel{
    background-color: var(--color-steel);
}

.filter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    left: -300px;
    width: 210px;
    height: 100%;
    padding: 3rem 1rem;
    background-color: #e4e4e4;
    transition: all .3s linear;
}
.filter-contenido{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: 20px;
    justify-content: space-around;
    height: 100%;
}
.title-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20px;
}
.title-icon span{
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 10px;
    transition: ease-in-out .5s;
    border-bottom: 2px hidden rgb(255, 217, 3); 
}
.title-icon svg{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.title-icon svg:hover{
    width: 30px;
    height: 30px;
    color:rgb(255, 217, 3);
}
.contenido-title:hover{
    border-bottom:2px solid rgb(255, 217, 3) ;
}
.hidden{
    display: none;
}
.contenido-types{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
    overflow-y: scroll;
    padding: 1rem 0;
}
.group-type{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.filter.active{
    left: 0px;
}


.main-pokemon {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
	margin-bottom: 30px;
    width: 100%;
}

.header-main-pokemon {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.contenedor-pokemon{
    display: flex;
}
.number-pokemon {
    font-size: 50px;
    font-weight: 700;
	color: var(--color-primary-hover);
    width: 20%;
}
.container-img-pokemon {
	height: 250px;
    width: 80%;
}

.container-img-pokemon img {
	height: 100%;
	width: 100%;
}

.container-info-pokemon {
	display: flex;
    flex-direction: column;
}

.container-info-pokemon h1 {
	text-align: center;
	font-size: 60px;
}

.info-pokemon {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.group-info{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.group-info p {
	font-weight: 700;
	font-size: 20px;
}





/* Stats */
.container-stats {
	display: flex;
    flex-direction: column;
    gap: 50px;
    width: 55%;
}

.stats {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
}

.stat-group {
	display: flex;
	align-items: center;
	gap: 20px;
}

.stat-group span {
	flex: 20%;
	font-weight: 500;
	font-size: 18px;
}

#contenedor {
    height: 25px;
}

#barra {
    width: 0;
    height: 100%;
    animation: progreso 1s linear;
    border-radius: 10px;
}


@keyframes progreso {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* .progress-bar {
	width: 100%;
	height: 30px;
	background-color: var(--color-primary);
	border-radius: 10px;
} */
/* Search Page */

.p-search{
	margin-bottom: 30px;
	font-size: 22px;
}

.p-search span{
	font-weight: 700;
}

/* Loader */



/* Btn Load More */

.container-btn-load{
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.btn-load{
	border: none;
	padding: 15px 40px;
	font-family: inherit;
	background-color: var(--color-primary);
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
}

.btn-load:hover{
	background-color: var(--color-primary-hover);
	color: #000;
}
