.container-filter{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.icon-filter{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.icon{
    width: 20px;
    height: 20px;
}
@media (max-width:768px){
    .container-filter{
        margin-top: 1rem;
        margin-left: 1rem;
    }
}